<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
  <div class="navbar">
    <a href="{{ url_for('index') }}"/a>
        <div class="logo"> 
            <img id="logo" src="{{ url_for('static', filename='image.jpg') }}" />
        </div>
    </a>
    <a href="{{ url_for('index') }}"/a>
        <div class="name">
            <h1>movie.rec</h1>
        </div>
    </a>  
      <form action="/recommend" method="POST">
        <input type="text" id='search_bar' name="name" placeholder="Enter movie name" required>
        <button type="submit" id='search_button'>Recommend</button>
      </form>
  </div>

  <div class="headlines">
    <h2><b>search movies.</b></h2>
    <h2><b>get recommendations, reviews, ratings, and more.</b></h2>
  </div>


  <div class="top50movies">
  </br>
    <h2><b><u>Top movies:</u></b></h2>
  </div>
 
  <div class="movie-grid">
    {% for name, img in movies %}
        <form action="/recommend" method="POST" class="movie-click-form">
            <input type="hidden" name="name" value="{{ name }}">
            <button type="submit" class="movie-card">
                <img src="{{ img }}" alt="Poster">
                <h3>{{ name }}</h3>
            </button>
        </form>
    {% endfor %}
  </div>

  <footer>
    <br>
    <br>
    <br>
    <br>
  </footer>

</body>
</html>